html,
body {
   background-color: #110724;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.3rem;
   padding: 70px;
}

button {
   font-size: 1.3rem;
   margin-right: 10px;
   padding: 10px;
}
